@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");


* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

body {
  background-color: rgb(104, 104, 104);
}

section {
  padding: 20px 7%;
}

.heading {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 3.50px;
  font-size: 40px;
}

.heading span {
  color: #d3ad7f;
  text-transform: uppercase;
}

.box-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 30px;
  row-gap: 50px;
}

.button {
  margin-top: 10px;
  display: inline-block;
  padding: 8px;
  font-size: 17px;
  color: #fff;
  background: #d3ad7f;
  cursor: pointer;
}

.button:hover {
  letter-spacing: 0.20px;
}

.header {  background-color: #6c757d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.50px 7%;
  border-bottom: 0.10px solid rgba(255, 255, 255, 0.3);
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo img {
  height: 60px;
}

.header .navbar a {
  margin: 0 10px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
.header .navbar a:hover {
  color: #d3ad7f;
  border-bottom: 1px solid #d3ad7f;
}
.header .navbar .dropdown-menu{
  width: 200px;
  background-color: #444;
}
.header .navbar .dropdown-menu a:hover{
  background-color: unset;
  margin: unset;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(../images/home-img.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 600px;
}

.home .content h3 {
  font-size: 60px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.home .content p {
  font-size: 20px;
  font-weight: lighter;
  line-height: 1.8;
  padding: 10px 0;
  color: rgb(0, 0, 0);
}
/* .btn{
  display: grid;
  grid-template-columns: 30% 60%;
  column-gap: 10%;
} */
form.compare{
  width: 1000px;
  display: flex;
  padding-top: 30px;
}
form.compare label{
  width: 300px;
  color: #eee;
  padding: 10px;
}
form.compare button{
  margin-left: 30px;
  padding: 10px;
  border-radius: 10px;
}
.about .row {
  display: flex;
  align-items: center;
  background: #13131a;
  flex-wrap: wrap;
}

.about .row .image {
  flex: 1 1 450px;
}

.about .row .image img {
  width: 100%;
}
.about .row .content {
  flex: 1 1 450px;
  padding: 20px;
}

.about .row .content h3 {
  font-size: 30px;
  color: #fff;
}

.about .row .content p {
  font-size: 16px;
  color: #ccc;
  padding: 10px 0;
  line-height: 1.8;
}
.shop-container{
  padding: 100px;
}
.nav-item .nav-link,
.nav-pills .nav-link{
  color: #eee;
}
.nav-item .active,
.nav-pills .nav-link.active{
  background-color: #d3ad7f !important;
}
.box {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  background-color: #ccc;
  padding: 15px;
  border-radius: 8px;
}

.box:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.box img{
  width: 100%;
}
.box-container .box .features{
  display: none;
}
.card-container{
  display: flex;
}
.card-container .card{
  margin: 20px;
}


.container{
  position: relative;
  background-color: #ccc;
  width: 50vw;
  margin-top: 10px;
}


#new-container{
  justify-content: center;
  display: flex;
  column-gap: 30px;
}
#new-container .box{
  padding: 20px;
  width: 600px;
  border: 1px solid #444;
  border-radius: 8px;
}
#new-container .box h5{
  font-weight: 300;
}
#new-container .box img,
#new-container .box .button{
  display: none;
}
.tab-content .new-container .box .features{
  display: unset;
}


.offcanvas{
  --bs-offcanvas-width: 1050px;
}

.filter{
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 1%;
}
.filter .item{
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter .item select,
.filter .item button{
  width: 100%;
  padding: 5px;
  background-color: transparent;
  border-left: 1px solid #010103;
  outline: none;
}
.filter .item label{
  display: block;
  width: 40%;
  padding: 0 10px;
}
.filter .item.submit button{
  background-color: #d3ad7f;
}

#list{
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1%;
  row-gap: 10%;
  height: 100px;
}
#list .item{
  background-color: #eee;
  text-align: center;
  border-radius: 10px;
}
#list .item .title{
  font-weight: bold;
}
#list .item .price{
  color: #d3ad7f;
  letter-spacing: 1px;
  padding: 20px;
}

.contact .row {
  display: flex;
  background: #13131a;
  flex-wrap: wrap;
  gap: 10px;
}

.contact .row .map {
  flex: 1 1 450px;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 450px;
  padding: 50px 20px;
  text-align: center;
}

.contact .row form h3 {
  text-transform: uppercase;
  font-size: 35px;
  color: #fff;
}

.contact .row form .inputBox {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #010103;
  border: 0.10px solid rgba(255, 255, 255, 0.3);
}

.contact .row form .inputBox span {
  color: #fff;
  font-size: 20px;
  padding-left: 20px;
}

.contact .row form .inputBox input {
  width: 100%;
  padding: 20px;
  font-size: 17px;
  color: #fff;
  text-transform: none;
  background: none;
}
.blog{
  display: flex;
}

#tile-expert-corner {
    background-color: #f0f0f0;
    padding: 20px;
  }
  #tile-expert-corner h2 {
    font-size: 24px;
    text-align: center;
  }
  #tile-expert-corner p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
  }
  #tile-expert-corner-content {
    margin: 20px;
  }
  #tile-expert-corner-content h3 {
    font-size: 30px;
    color: #d3ad7f;
    text-align: center;
  }
  #tile-expert-corner-content p {
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px 40px;
  }
  #tile-expert-corner-content video{
    width: 500px;
    margin-left: 50%;
    transform: translate(-50%);
    padding-top: 20px;
  }
  .video-corner{
    display: grid;
    grid-template-columns: auto auto auto;
  }


.footer {
  background: #13131a;
  text-align: center;
}

.footer .share {
  padding: 10px 0;
}

.footer .share a {
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
  border: 0.10px solid rgba(255, 255, 255, 0.3);
  margin: 0.30px;
  border-radius: 50%;
}

.footer .share a:hover {
  background-color: #d3ad7f;
}

.footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0;
  gap: 10px;
}

.footer .links a {
  padding: 0.70px 20px;
  color: #fff;
  border: 0.10px solid rgba(255, 255, 255, 0.3);
  font-size: 20px;
}

.footer .links a:hover {
  background: #d3ad7f;
}

.footer .credit {
  font-size: 20px;
  color: #fff;
  font-weight: lighter;
  padding: 1.50px;
}

.footer .credit span {
  color: #d3ad7f;
}

form#draw-form > fieldset {
    font-size: 1em;
    color: #ccc;
    display: inline-block;
    border: 2px solid rgb(180,180,180);
    max-width: 31.5%;
}
form#draw-form input, form#draw-form button {
    box-sizing: border-box;
    border: 1px solid rgb(180,180,180);
    width: 6em;
    min-height: 1.5em;
    padding: 0.5em;
}
#draw-canvas {
    margin-top: 1em;
    max-width: 100%;
    max-height: 100%;
}