@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");


* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(104, 104, 104);
}

section {
  padding: 2rem 7%;
}

.heading {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}

.heading span {
  color: #d3ad7f;
  text-transform: uppercase;
}

.box-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.button {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: #d3ad7f;
  cursor: pointer;
}

.button:hover {
  letter-spacing: 0.2rem;
}

.header {  background-color: rgb(104, 104, 104);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo img {
  height: 6rem;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: #fff;
}

.header .navbar a:hover {
  color: #d3ad7f;
  border-bottom: 0.1rem solid #d3ad7f;
  padding-bottom: 0.5rem;
}

.header .icons div {
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.header .icons div:hover {
  color: #d3ad7f;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(../images/home-img.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 60rem;
}

.home .content h3 {
  font-size: 6rem;
  text-transform: uppercase;
  color: #fff;
}

.home .content p {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #eee;
}

.about .row {
  display: flex;
  align-items: center;
  background: #13131a;
  flex-wrap: wrap;
}

.about .row .image {
  flex: 1 1 45rem;
}

.about .row .image img {
  width: 100%;
}
.about .row .content {
  flex: 1 1 45rem;
  padding: 2rem;
}

.about .row .content h3 {
  font-size: 3rem;
  color: #fff;
}

.about .row .content p {
  font-size: 1.6rem;
  color: #ccc;
  padding: 1rem 0;
  line-height: 1.8;
}
.box {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  background-color: #ccc;
}

.box:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.box img{
  width: 100%;
  padding: 20px;
}

.box .prime {
  padding: 2px 16px;
}

.catalog .box-container .box {
  padding: 5rem;
  text-align: center;
  border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

.catalog .box-container .box img {
  height: 15rem;
}

.catalog .box-container .box h3 {
  color: #fff;
  font-size: 2rem;
  padding: 1rem 0;
}
.catalog .box-container .box:hover {
  background: #fff;
}

.catalog .box-container .box:hover > * {
  color: #13131a;
}

.contact .row {
  display: flex;
  background: #13131a;
  flex-wrap: wrap;
  gap: 1rem;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form h3 {
  text-transform: uppercase;
  font-size: 3.5rem;
  color: #fff;
}

.contact .row form .inputBox {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #010103;
  border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

.contact .row form .inputBox span {
  color: #fff;
  font-size: 2rem;
  padding-left: 2rem;
}

.contact .row form .inputBox input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  color: #fff;
  text-transform: none;
  background: none;
}

#tile-expert-corner {
    background-color: #f0f0f0;
    padding: 20px;
  }
  #tile-expert-corner h2 {
    font-size: 24px;
    text-align: center;
  }
  #tile-expert-corner p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
  }
  #tile-expert-corner-content {
    margin: 20px;
  }
  #tile-expert-corner-content h3 {
    font-size: 3rem;
    color: #d3ad7f;
    text-align: center;
  }
  #tile-expert-corner-content p {
    font-size: 2rem;
    color: #ccc;
    text-align: center;
    padding: 20px 40px;
  }
  #tile-expert-corner-content video{
    width: 50rem;
    margin-left: 50%;
    transform: translate(-50%);
    padding-top: 20px;
  }


.footer {
  background: #13131a;
  text-align: center;
}

.footer .share {
  padding: 1rem 0;
}

.footer .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #fff;
  border: 0.1rem solid rgba(255, 255, 255, 0.3);
  margin: 0.3rem;
  border-radius: 50%;
}

.footer .share a:hover {
  background-color: #d3ad7f;
}

.footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 1rem;
}

.footer .links a {
  padding: 0.7rem 2rem;
  color: #fff;
  border: 0.1rem solid rgba(255, 255, 255, 0.3);
  font-size: 2rem;
}

.footer .links a:hover {
  background: #d3ad7f;
}

.footer .credit {
  font-size: 2rem;
  color: #fff;
  font-weight: lighter;
  padding: 1.5rem;
}

.footer .credit span {
  color: #d3ad7f;
}

form#draw-form > fieldset {
    font-size: 1em;
    color: #ccc;
    display: inline-block;
    border: 2px solid rgb(180,180,180);
    max-width: 31.5%;
}
form#draw-form input, form#draw-form button {
    box-sizing: border-box;
    border: 1px solid rgb(180,180,180);
    width: 6em;
    min-height: 1.5em;
    padding: 0.5em;
}
#draw-canvas {
    margin-top: 1em;
    max-width: 100%;
    max-height: 100%;
}